body{
    background-color: mediumslateblue;
}
.password{
    padding: 10px;
    background-color: antiquewhite;
    height: fit-content;    
    width: fit-content;  
}
nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    background-color:bisque;
    color: mediumslateblue; 
    padding: 20px;
}
p{
    font-weight: 700;
    font-size: 30px;
}
.values{
    display: flex;
}
footer{
    font-weight: 700;
    background-color:bisque;
    color: mediumslateblue;
    text-align:center;
    padding: 15px;
}
section h3{
    padding: 20px;
    border: 2px solid blueviolet;
    margin: 5px;
}
/* The wrapper div stretches across the entire screen */
#modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95); /* Dims the dashboard behind it */
  display: flex;
  justify-content: center;
  align-items: center;
}