body{
    font-family: 'Times New Roman', Times, serif;
    background-color:mediumslateblue;
    color: bisque;
    font-size: 20px;
}
nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    background-color:bisque;
    color: mediumslateblue; 
    padding: 20px;
}
header{
    text-align:center;
    line-height: 0;
}
header span{
    margin: 20px;
}
button{
    border: 5px black solid;
    border-radius: 50px;
    background-color: pink;
}
section{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
footer{
    font-weight: 700;
    background-color:bisque;
    color: mediumslateblue;
    text-align:center;
    padding: 15px;
}
